:root{
    --color-primary: #E3B748;
    --color-black: #111;
    --color-white: #fff;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }
  
  *{
    margin: 0px;
  }
  html, body{
    height: 100%;
  }
  
  body{
    font-family: 'inter', 'sans-sarif';
    line-height: 1.5;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
  }
