.navbar{
    background-color: var(--color-black);
    height: 74px;
    width: 100vw;
    padding: 0 32px;
    margin-top: 31px;
    margin-left: 48px;
    margin-right: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}